<!-- search.html -->
{% extends 'base.html' %}

{% block title %}Search Books{% endblock %}



{% block content %}

<h1>Search Books</h1>
<form id="search-form" action="{% url 'search' %}" method="post">
    <div class="input-group mb-3">
        <input type="text" class="form-control" name="search" placeholder="Search books..." id="search-input">
        <div class="input-group-append">
            <button class="btn btn-primary" type="button" id="search-button">Search</button>
        </div>
    </div>
</form>

<h2>Search Results</h2>

{% endblock %}
